{{- $desktop := site.Params.posts.thumbnail.desktop | default false -}}
{{- $mobile := site.Params.posts.thumbnail.mobile | default false -}}
{{ if .Scratch.Get "large" }}
  {{- $desktop = site.Params.posts.thumbnail.desktop_large | default $desktop -}}
{{ end }}
{{ if .Scratch.Get "scrollsnap" }}
  {{- $mobile = site.Params.posts.thumbnail.scrollsnap | default false -}}
{{ end }}
{{ partial "commons/item/media.html" (dict
      "context" .
      "desktop" $desktop
      "mobile" $mobile
    ) }}
