{{ $description := false }}
{{- with .Site.Data.seo.description -}}
  {{ $description = . }}
{{- end -}}
{{- if .Site.IsMultiLingual -}}
  {{- with index .Site.Data.seo .Site.Language.Lang -}}
    {{ $description = .description }}
  {{- end -}}
{{- end -}}
{{- with $description -}}
  <p class="description">
© 2020–2022 АО «БАЙЕР»<br /><br />

107113, Москва, 3-я Рыбинская ул., 18, стр. 2.<br />
Телефон: +7 (495) 231-12-00.<br /><br />

Если Вы хотите сообщить о побочном явлении/жалобе на качество продукции, пожалуйста, свяжитесь со специалистом здравоохранения (например, врачом или фармацевтом) или обратитесь в регуляторные органы. Обращения можно также направлять по следующему адресу: drugsafety.russia@bayer.com.
  </p>
{{- end -}}
